Mailbox Address definition is imprecise

I appreciate this is a fairly minor point and might be due to some ignorance on my part but I think it would help to be a bit more specific in the definition of a Mailbox Address in section 1.6.1 of the SMIME BRs to explicitly mention what format is being used from the RFC.  My assumption is that the definition being used is that of a Mailbox as per section 4.1.2 of RFC 5321 [1], but from the text I'm not sure.

The existing text states that a Mailbox Address is “A character string that identifies a user to
whom mail will be sent or a location into which mail will be deposited.”  One could argue that "John Smith \<johnsmith@example.com\>" meets this definition and the "Words \<local-part@domain\>" form does appear in some places in the referenced RFC.  I'm aware this format is not compatible with the RFC5280 definition for how a san.rfc822Name value should be [2] so couldn't be used everywhere, but could be used in subject:commonName for example.

One thing that makes me doubt my assumption about what is a Mailbox Address is the requirement that Mailbox Addresses in the subject must be repeated in the SAN.  The server cert BRs have a similar requirement but that's far more explicitly written saying if the commonName is a domain name then it must be a character-for-character copy of a dNSName entry.  However, as the current definitions for Mailbox address are a bit less precise I'm wondering if the idea is that a cert could have the commonName "John Smith \<johnsmith@example.com\>" and then the email address "johnsmith@example.com" would be "repeated as rfc822Name or otherName values ... in [the subjectAltName] extension" as per requirements.  Currently, I'm not sure about what exactly 'repeated' means for Mailbox Addresses in subject fields.

Therefore, my suggestion is to change the definition of a Mailbox Address to add something like this text from RFC5280: "The format of a Mailbox Address is a "Mailbox" as defined in Section 4.1.2 of RFC5321".  This would make the text more precise (if my assumption is correct) and I think would also go some way to limiting any need for interpreting the repeating-in-san requirement as the text in subject fields would be in the correct format for san:rfc822Name

edit: just to add that I'm happy to open a PR to make the change if people think it's a positive improvement to the BRs

edit 2: just realised all the angle brackets were interpreted as markdown so I've just escaped them all to make the examples more obviously correct.

[1] https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.2
[2] https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.6

As you noted, the BRs define Mailbox Address as:

Mailbox Address: Also Email Address. From [RFC 5321](http://tools.ietf.org/html/rfc5321): “A character string that identifies a user to whom mail will be sent or a location into which mail will be deposited.”

The capitalization of Email Address implies it's a defined term, but it's not defined (should fix that in a clean up ballot); however, when reading "Also Email Address" this means that these are different terms for the same thing, imo anyway.  Email Address is same term as Mailbox Address and that is defined in RFC5321, so I think we do have a spec that says the CN must be just "local-part@domain".

It would help to be even more exact as you implied by stating somewhere that the value in CN and subjectDN:Email fields must have exact byte for byte values in either san:rfc822Name or the otherName value of type id-on-SmtpUTF8Mailbox like we do in the server cert BRs.

If we permitted Mailbox Address to be of the form "Donald Duck  [johnsmith@example.com](mailto:johnsmith@example.com)" we're providing unvalidated and possibly misleading name values which belong in the subjecDN name fields which further points to the use of just "local-part@domain" in the CN and all other email address fields.


I agree that a cleanup/clarification ballot is needed here.  However, I don't agree with your assertion that Mailbox Address is defined in RFC5321 as while the term "mailbox address" is found in the RFC, it's not defined well.  Unlike, as I mentioned in my first point, the term 'Mailbox' which is unambiguously defined.  If I was to guess, I'd assume that the Mailbox format ("johnsmith@example.com") is the correct one rather than the RFC 5322 Address specification (John Smith <johnsmith@example.com>" based on the fact that RFC 5321 is referenced although I think the argument that the text in the BRs allows one to use either format stands.

As I said, a couple of small changes and this is easily addressed but I think improvement is needed

Following up on Doug's comment. With the edit, I think we should try to replace "email address" with "Mailbox Address" through-out the document. If we do use "Email Address", then this should not be capitalized.

Here's a proposed change: 

Mailbox Address: Also Email Address. The format of a Mailbox Address is defined as a "Mailbox" as specified in Section 4.1.2 of RFC 5321 and amended by Section 3.2 of RFC 6532, with no additional padding or structure.

Sounds much better to me