CAA accounturi and validationmethods parameters

There is a proposal  (see https://github.com/cabforum/servercert/pull/567) to amend the CAA requirements in the TLS BR roughly as follows:

> Effective DATE, when processing CAA records, CAs MUST process the accounturi and validationmethods parameters as specified in RFC 8657. In addition:
> * If the CA accepts certificate requests via any protocol other than the ACME protocol defined in RFC 8555, the CA MUST define the recognized format of the accounturi in this [Section 3.2.2.8](#3228-caa-records) of their CPS.
> * The CA MUST define each recognized validationmethods label, along with the corresponding Section 3.2.2.4 subsection number, in this [Section 3.2.2.8](#3228-caa-records) of their CPS. Labels MUST comply with Section 4 of RFC 8657.

Depending on the outcome of that proposal, the SMCWG may consider adding a corresponding requirement to the S/MIME BR section 3.2.2.8.

Note that the Server Cert proposal has been amended to include new requirements for DNSSEC as well: https://github.com/cabforum/servercert/pull/567/files 